root = true

[*]
charset = utf-8
end_of_line = lf

[**.{h,cc,cxx,cpp,proto,lua}]
indent_style = space
indent_size = 2
table_width = 2

[{**.py,wscript,wscript_*,**.rs}]
indent_style = space
indent_size = 4
table_width = 4

[*.md]
trim_trailing_whitespace = false